.card-body{
  max-width: 500px;
  max-height: 800px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  border: solid rgb(255, 255, 255, 0.8);
  margin: 50px auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
}

button {
  margin-top: 30px;
  margin-bottom: -7px;
  border-radius: 10px;
}

.registrationTitle{
  text-align: center;
  padding-bottom: 10px;
}

.alert-danger {
  margin-top: 3px;
  border-radius: 6px;
  text-align: center;
}

input {
  border-radius: 10px;
  color: black;
  text-align: center;
}

.alert-warning {
  border-radius: 10px;
  margin-bottom: -5px;
}

.alert-success {
  border-radius: 10px;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}

mat-slider {
  margin-top: 10px;
  margin-bottom: -20px;
  width: 475px;
}

.modal-content{
  border-radius: 20px;
  text-align: center;
  color: white;
  max-height: 500px;
  font-size: 15px;
  opacity: 0.9;
}

.modal-dialog {
  border: solid rgb(255, 255, 255, 0.8);
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
  max-width: 300px;
  font-size: 15px;
  margin-top: 200px;
  max-width: 500px;
}

pre {
  color: white;
  font-size: 15px;
}

.modal-title {
  font-size: 15px;
}

.mat-option {
  text-align: center;
}

::ng-deep .mat-autocomplete-panel{
  border-radius: 10px;
  overflow: hidden;
}

.elementTitle {
  text-align: center;
  border-radius: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 12px;
  opacity: 0.8;
}
