<div class="col-md-12">
  <div *ngIf="booking" class="card-body">
    <h5 class="elementTitle bg-dark">Resource</h5>
    <div class="form-group">
      <label for="resourceName">Name</label>
      <input type="text" class="form-control" name="resourceName" value="{{booking.resource.name}}" disabled />
    </div>
    <div class="form-group">
      <label for="resourceType">Type</label>
      <input type="text" class="form-control" name="resourceType" value="{{booking.resource.type}}" disabled />
    </div>
    <h5 class="elementTitle bg-dark">Slot</h5>
    <div class="form-group">
      <label for="startTime">Start Time</label>
      <input type="text" class="form-control" name="startTime" value="{{booking.slot.startTime}}" disabled />
    </div>
    <div class="form-group">
      <label for="finishTime">Finish Time</label>
      <input type="text" class="form-control" name="finishTime" value="{{booking.slot.finishTime}}" disabled />
    </div>
    <div class="form-group">
      <label for="isBooked">Is Booked</label>
      <input type="text" class="form-control" name="isBooked" value="{{booking.slot.isBooked}}" disabled />
    </div>
    <h5 class="elementTitle bg-dark">User</h5>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" value="{{booking.user.name}}" disabled />
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" name="surname" value="{{booking.user.surname}}" disabled />
    </div>
    <div class="form-group">
      <label for="ssn">Ssn</label>
      <input type="text" class="form-control" name="ssn" value="{{booking.user.ssn}}" disabled />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" value="{{booking.user.email}}" disabled />
    </div>
  </div>
</div>
