.card-body{
  max-width: 550px;
  max-height: 910px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  border: solid rgb(255, 255, 255, 0.8);
  margin: 5px auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
}

input {
  border-radius: 10px;
}

.elementTitle {
  text-align: center;
  border-radius: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 12px;
  opacity: 0.8;
}
