.card-body {
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
}

button {
  border-radius: 10px;
  color: white;
  opacity: 0.9;
}

.buttonRight{
  float: right;
}

table {
  border-radius: 25px;
  overflow:hidden;
  color: white;
  opacity: 0.9;
}

input {
  border-radius: 10px;
  max-width: 290px;
  opacity: 0.9;
  margin-bottom: -25px;
}

.card-title {
  text-align: left;
  font-size: 25px;
  opacity: 0.6;
}

.form-group {
  display: inline-block;
  width: 100%;
}

.modal-content{
  border-radius: 20px;
  opacity: 0.9;
}

.modal-dialog {
  border: solid rgb(255, 255, 255, 0.8);
  color: white;
  margin-top: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
}

.card-title {
  width: 50%;
  float: left;
}

.resource-add {
  margin-left: 50%;
  text-align: right;
}

.headers {
  width: 100%;
}

.btn {
  color: white;
}

